@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

button#update {
  font: normal small-caps bold 20px/30px Arial, sans-serif;
  padding: 14px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 16px;
}
button#update:hover {
  cursor: pointer;
  background-color: green;
}
button#removeElement {
  background-color: #f00;
}
button#removeElement:hover {
  cursor: pointer;
  background-color: darkblue;
}
#clearDiv {
  text-align: center;
  margin: 20px 0 10px 0;
}
