@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", serif;
  height: 100%;
  position: relative;

}
::-webkit-scrollbar {
  display: none;
}
main {
  margin: 10px 10px 5px 20px;
  position: relative;
  min-height: calc(94vh - 4rem);
}

article {
  margin: 70px 10px 0 20px;
  position: relative;
  /* height: auto; */
  min-height: calc(93.7vh - 4rem);
}
section {
  border: 1px solid #aaa;
  padding: 4px 8px 8px 4px;
  margin: 8px 18px 8px 10px;
}
aside {
  margin: 0 0 44px 20px;
}

footer {
  width: 100%;
  padding: 0;
  position : absolute;
  height: 2rem;
}
aside a:visited, aside a:link {
  text-decoration: none;
  color: blue;
}

/* ====== nav menu ====== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  /* background-image: url("/images/header.png"); */
  background-size: cover;
  /* opacity: 0.4; */
  background-color: #333;
  /* min-width: 900px; */
  border: 4px solid orangered;
  /* border-bottom: 4px solid orangered; */
  /* box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19); */
}
header h1 {
  display: none;
  font-size: 1.3rem;
  padding: 6px 1rem;
  color: orangered;
  width: auto;
  margin: 0;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
}
.navbar a, .subnav .subnavbtn {
  font-size: 14px;
  color: white;
  padding: 10px 18px;
}
.navbar a {
  text-align: center;
  text-decoration: none;
}

.subnav {
  float: right;
  overflow: hidden;
}

.subnav .subnavbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: orangered;
  cursor: pointer;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  background-color: orangered;
  width: 100%;
  /* 첫번째 적용 : 우측이동, 아래이동, 3번째; 흐린정도 깊이, 4번째; 전체 깊이 // 두번째 적용*/
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 6px 0 0 rgba(0, 0, 0, 0.1); */
  z-index: 1;
}

.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
  padding: 8px 10px 4px 10px;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 20;
}

/* ============= table tag */
table {
  background-color: #efefef;
  text-align: center;
}
table,
td,
th {
  border: 1px solid #444;
  border-collapse: collapse;
}
th[colspan="2"] {
  color: orangered;
}
th {
  padding: 2px 8px;
}

/* =================== common element tag */
h2,h3,h4,h5 {
  margin: 10px 0 6px 6px;
  width: 100%;
}
h3::before {
  content: "» ";
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
}
h5::before {
  content: "↪ ";
}
p, pb {
  font-size: 1rem;
  font-family: "Roboto", "Malgun Gothic", serif;
  margin: 4px 0;
  padding: 2px 10px;
  /* width: 92%; */
  word-break: break-word;
  line-height: 1.5rem;
}
pb {
  font-weight: bold;  padding: 4px 10px;
  display: block;
  text-decoration: underline;
  text-underline-offset: 6px;
}
pre,
code,
kbd {
  font-size: 1rem;
  font-family: "Consolas", "Lucida Sans Regular", sans-serif;
  margin: 12px 0;
}
code {
  display: block;
  word-wrap: break-word;
  white-space: pre;
  font-size: 0.95rem;
}
code::before {
  content: "« ";
}
code::after {
  content: " »";
}
kbd {
  color: #999;
}
ul {
  width: 92%;
}
.addedElement {
  font: 20px/30px Roboto, sans-serif;
  padding-top: 10px;
}

hr {
  margin: 1rem 0;
  padding: 0;
  border: 1px dotted darkorange;
}

button#removeElement {
  background-color: #f00;
}
button#removeElement:hover {
  cursor: pointer;
  background-color: darkblue;
}

button.normal, button.btnSearch {
  background-color: #333;
  color: wheat;
  padding: 4px 6px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}
button.normal:hover {
  cursor: pointer;
  background-color: #444;
  
}
/* media set */
@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  aside {
    margin: 100px 20px 0 0;
  }
}
/*@media screen and (max-width: 800px) {*/
/*  header {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*  }*/
/*}*/
